
@{
    ViewBag.Title = "Admin";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title float-left">Dashboard</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="fi-box float-right"></i>
            <h6 class="text-muted text-uppercase mb-3">Sản phẩm</h6>
            <h5 class="mb-3" id="tong-sp"></h5>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="fi-layers float-right"></i>
            <h6 class="text-muted text-uppercase mb-3">Doanh thu tháng</h6>
            <h5 class="mb-3" id="doanh-thu"></h5>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="fi-paper float-right"></i>
            <h6 class="text-muted text-uppercase mb-3">Hóa đơn</h6>
            <h5 class="mb-3" id="hoa-don"></h5>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="fi-briefcase float-right"></i>
            <h6 class="text-muted text-uppercase mb-3">Sản phẩm đã bán</h6>
            <h5 class="mb-3" id="da-ban"></h5>
        </div>
    </div>
</div>



@section script {
    <script>

        // thống kê
        $.ajax({
            method: "POST",
            dataType: "json",
            url: "@Url.Action("GetInfo", "Index")",
            contentType: "application/json; charset=utf-8",
        }).done(function (data) {
            console.log(data)
            $("#tong-sp").text(addDot(data.tongSanPham))
            $("#hoa-don").text(addDot(data.tongHoaDon))
            $("#da-ban").text(addDot(data.sanPhamDaBan))
            $("#doanh-thu").text(addDot(data.doanhThuThang)+ " VND")
        })

        // biểu đồ
        $.ajax({
            method: "POST",
            dataType: "json",
            url: "@Url.Action("GetChart", "Index")",
            contentType: "application/json; charset=utf-8",
        }).done(function (data) {
            console.log(data)
        })

        function addDot(s) {
            return new Intl.NumberFormat().format(s)
        }
    </script>
}