<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
  <connectionStrings>
    <add name="DIENMAYQUYETTIENEntities" connectionString="metadata=res://*/Models.QuyetTienModel.csdl|res://*/Models.QuyetTienModel.ssdl|res://*/Models.QuyetTienModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-HK\SQLEXPRESS;initial catalog=DIENMAYQUYETTIEN;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>