
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(/Assets/images/gt.png);">
    <h2 class="l-text2 t-center">
        Giới thiệu
    </h2>
</section>

<!-- content page -->
<section class="bgwhite p-t-66 p-b-38">
    <div class="container">
        <div class="row">
            <div class="col-md-4 p-b-30">
                <div class="hov-img-zoom">
                    <img src="/Assets/images/logo-qt.png" alt="Quyết Tiến">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-15 p-b-16">
                    Điện Máy Quyết Tiến
                </h3>

                <p class="p-b-28">
                <p>Cửa hàng điện máy <strong>QUYẾT TIẾN</strong> được thành lập từ 10/2018.Với niềm mong ước mang lại một không gian sống đầy đủ tiện dụng trong chính ngôi nhà của bạn</p>
                <div class="col-xs-2 w3ls_about_grid_left1">
                    <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                </div>
                <div class="col-xs-10 w3ls_about_grid_left2">
                    <p><strong>Quyết Tiến</strong> sẽ là ưu tiên hàng đầu khi bạn muốn lựa chọn các <strong>sản phẩm</strong> cho bạn.Với các mặt hàng phong phú như <strong>tủ lạnh</strong>, <strong>điều hòa</strong>, <strong>máy giặt</strong>, chỉ cần đến với <strong>Quyết Tiến</strong> bạn sẽ không hối hận khi đã lựa chọn và tin dùng</p>
                </div>
                <p>
                    Với tiêu chí mang đến cho khách hàng sự trải nghiệm dịch vụ và chất lượng sản phẩm tốt nhất. Cửa hàng điện máy <strong>Quyết Tiến</strong> đầu tiên đã được ra
                    Nhờ vào tầm nhìn chiến lược kinh doanh và những nỗ lực không ngừng nghỉ. Điện máy....đã vươn lên trở thành một trong những thương hiệu bán lẻ hàng đầu tại Việt Nam. Thế mạnh của (tên cửa hàng) không chỉ dừng lại ở chất lượng sản phẩm chính hãng chất lượng cao và giá cả hợp lý mà trên hết còn có sự chuyên nghiệp, phục vụ tận tình của đội ngũ nhân viên từ nhân viên kỹ thuật cho tới nhân viên chăm sóc khách hàng. Chính những điều đó đã giúp cho điện máy....đáp ứng tốt được các nhu cầu và yêu cầu khác nhau của khách hàng.
                    <strong>Quyết Tiến</strong> xin hứa sẽ luôn nỗ lực không ngừng để đem lại cho khách hàng những dịch vụ, chất lượng tốt nhất để không phụ lòng mong đợi của khách hàng trong thời gian qua đã tin tưởng và ủng hộ chúng tôi.
                </p>

                <br>
            </div>
        </div>
    </div>
</section>