@model quyettien.Models.ProductType

@{
    ViewBag.Title = "Xóa danh mục " + Model.ProductTypeName;
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title float-left">Xóa danh mục</h4>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                    <div class="p-20">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                <div class="form-group">
                                    <h5>Bạn có muốn xóa danh mục @Model.ProductTypeName</h5>
                                </div>
                                <div class="col-md-offset-2 col-md-10">
                                    <a href="@Url.Action("Index")" class="btn btn-success waves-light waves-effect btn-rounded"><i class="mdi mdi-close-circle-outline"></i> Không</a>
                                    <button type="submit" class="btn btn-danger waves-light waves-effect btn-rounded"><i class="mdi mdi-check-circle-outline"></i>Có</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>